{% extends "clients/base.html" %}
{% block content %}
<h2>Filterable Table</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Credit Score</th>
          <th>Geography</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Tenure</th>
          <th>Balance</th>
          <th>Products</th>
          <th>Credit Card</th>
          <th>Active</th>
          <th>Salary</th>
          <th>Exited</th>
        </tr>
      </thead>
      <tbody id="tableData">
      {% for client in clients %}
          <tr>
            <td><a href="/client/{{ client.client_id }}">{{ client.client_id }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.client_name }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.credit_score }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.geography }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.gender }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.age }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.tenure }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.balance }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.num_of_products }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.has_credit_card }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.is_active_member }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.estimated_salary }}</a></td>
            <td><a href="/client/{{ client.client_id }}">{{ client.exited }}</td>
          </tr>
      {% endfor %}
      </tbody>

    </table>



  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}



{% endblock content %}
